@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/vox';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';