@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/wintry';
@import '../bitv.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
