@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/legacy';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

[data-theme='legacy'] {
	--font-family: system-ui, sans-serif;
}

[data-scope="toast"][data-type="info"] {
    background-color: var(--color-tertiary-500);
    border-color: var(--color-tertiary-500);
}

[data-scope="toast"][data-type="success"] {
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
}

[data-scope="toast"][data-type="error"] {
    background-color: var(--color-error-500);
    border-color: var(--color-error-500);
}

[data-scope="toast"][data-type="warning"] {
    background-color: var(--color-warning-500);
    border-color: var(--color-warning-500);
}