@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/legacy';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

[data-theme='legacy'] {
	--font-family: system-ui, sans-serif;
}